*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}

/* Navbar Start */
#navbar{
    background: rgb(225, 209, 131);
}
#logo{
    font-size: 36px;
    font-weight: 550;
    color: black;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 5px;
}
#logo span{
    color: #ffa500;
}
.navbar-toggler span{
    color: #090909;
}
.navbar-nav{
    margin-left: 20px;
}
.nav-item .nav-link{
    padding-right: 2px;
    font-size: 20px;
    font-weight: 550;
    color: black;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5s ease;
}
.nav-item .nav-link:hover{
    background: #ffa500;
    color: white;
}
#navbar form button{
    background: orange;
    color: white;
    border: none;
}
/* Navbar End */

/* Home Section Start */
.home{
    width: 100%;
    height: 90vh;
    background-color: rgb(225, 209, 131);
    background-repeat: no-repeat;
    background-size: cover;
}
.home .content{
    text-align: center;
    padding-top: 100px;
}
.home .content h5{
    color: rgb(12, 0, 0);
    font-size: 38px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
}
.home .content h1{
    color: black;
    font-size: 60px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
    margin-top: 5px;
}
.changecontent::after{
    content: ' ';
    color: #ffa500;
    text-shadow: 0px 1px 1px black;
    animation: changetext 10s infinite linear;
}
@keyframes changetext{
   
    0%{content: "BANGALORE";}
    
} 
.home .content p{
    color: rgb(233, 17, 17);
    font-size: 25px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 30px;
    margin-top: 5px;
}
.home .content a{
    padding: 10px;
    background: white;
    color: black;
    letter-spacing: 2px;
    font-weight: 550;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
}
.home .content a:hover{
    background: #ffa500;
    color: white;
}
@media (max-width:850px){
    .home{
        background-position: 50%;
    }
}
@media (max-width:450px){
    .home .content h5{
        font-size: 25px;
    }
    .home .content h1{
        font-size: 38px;
    }
    .home .content p{
        font-size: 13px;
    }
}
/* Home Section End */

/* Section Book Start */
.book{
    background: rgb(225, 209, 131);
    padding: 50px;
}
.main-text h1{
    text-align: center;
    text-shadow: 0px 1px 1px black;
    font-weight: 600;
}



/* Section Book End */











/* Section Gallary Start */
.main-txt h1{
    text-align: center;
    margin-top: 0px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
}
.main-txt h1 span{
    color: #ffa500;
}
.gallary{
    margin-top:0px;
    background-color: rgb(225, 209, 131);
    background-size: cover;
}
.gallary .card{
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    cursor: pointer;
}
.gallary .card img{
    border-radius: 10px;
    transition: 0.5s;
}
.gallary .card img:hover{
    transform: scale(1.1);
}
/* Section Gallary End */




/* Contact Start */
.contact-txt h1{
    text-align: center;
}
.contact{
    text-align: center;
    padding: 50px;
    margin-top: 0px;
    background:rgb(225, 209, 131);
}
.contact .card{
    border-radius: 10px;
}
.contact .card img{
    border-radius: 10px;
}
.contact h2{
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
}
.contact p{
    text-align: center;
    font-weight: 500;
}
#contact-btn{
    width: 150px;
    height: 38px;
    border: none;
    border-radius: 5px;
    background: #ffa500;
    color: white;
    letter-spacing: 2px;
    font-weight: 550;
    transition: 0.5s ease;
    cursor: pointer;
}
#contact-btn:hover{
    width: 170px;
}
@media (max-width:765px){
    .contact{
        padding: 0;
    }
}
/* Contact End */
/* About Start */
.about-txt h1{
    text-align: center;
}
.about{
    text-align: center;
    padding: 50px;
    margin-top: 0px;
    background:rgb(225, 209, 131);
}
.about .card{
    border-radius: 10px;
}
.about .card img{
    border-radius: 10px;
}
.about h2{
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
}
.about p{
    text-align: center;
    font-weight: 500;
}
#about-btn{
    width: 150px;
    height: 38px;
    border: none;
    border-radius: 5px;
    background: #ffa500;
    color: white;
    letter-spacing: 2px;
    font-weight: 550;
    transition: 0.5s ease;
    cursor: pointer;
}
#about-btn:hover{
    width: 170px;
}
@media (max-width:765px){
    .about{
        padding: 0;
    }
}
/* About End */





/* Footer Start */
#footer{
    width: 100%;
    margin-top: 100%px;
    text-align: center;
    background: rgb(243, 242, 238);
}
#footer h1{
    font-weight: 600;
    padding-top: 30px;
    text-shadow: 0px 0px 1px rgb(253, 253, 253);
}
#footer h1 span{
    color: #ffa500;
}
.social-links i{
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    background: rgb(10, 151, 156);
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
.social-links i:hover{
    background: #ffa500;
}
/* Footer End */